const urlCache = {}
const get = (url) => {
    if (urlCache[url]) return Promise.resolve(urlCache[url])
    return (
        fetch(url)
            .then((response) => response.json())
            .then((response) => {
                urlCache[url] = response
                return response
            })
    )
}
