const query = `{
    trip(id: 147) {
        employee {
            firstName
            lastName
            organization {
                name
            }
        },
        budgets {
            comments
            budgetTemplateSnapshot
        }
    }
}`
