const expandTripParams = [
    'employee',
    'employee.organization',
    'budgets',
    'budgets.budgetTemplateSnapshot',
    'budgets.comments'
];
const tripId = 147;

getTrip(tripId, expandTripParams)
